/* ==========================================================================
   #PAGE
   ========================================================================== */

@use "sass:math";

/**
* Simple page-level setup.
*
* 1. Set the default `font-size` and `line-height` for the entire project,
*    sourced from our default variables. The `font-size` is calculated to exist
*    in ems, the `line-height` is calculated to exist unitlessly.
* 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
*    navigating between pages that do/do not have enough content to produce
*    scrollbars naturally.
* 3. Ensure the page always fills at least the entire height of the viewport.
*/

html {
  font-size: math.div($inuit-global-font-size, 16px) * 1em; /* [1] */
  line-height: math.div($inuit-global-line-height, $inuit-global-font-size); /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
}

body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  max-width: 1200px;
  margin: $inuit-global-spacing-unit auto;
  padding: 0 $inuit-global-spacing-unit;

  a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
      color: $base-link-hover-color;
    }
  }

  code {
    font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    padding: 3px 6px;
  }

  pre {
    code {
      padding: 8px;
      overflow: auto;
      line-height: 1.35;
    }
  }

  .nav {
    &__item {
      display: inline-block;

      a {
        display: block;
        background-color: #a5c261;
        border-radius: 3px;
        padding: 6px 8px;

        &.active,
        &:hover,
        &:active {
          color: $base-link-color;
          background-color: #c26230;
        }
      }
    }
  }
  .example {
    background-color: #e8bf6a;
    border-radius: 3px;
    padding: 8px;
  }
}
