/*
 * Globale Color
 * ------------------------- */

$white: rgb(255,255,255);
$white-10: rgba(255,255,255,0.1);
$white-50: rgba(255,255,255,0.5);

$black: rgb(0,0,0);
$black-00: rgba(0,0,0,0);
$black-20: rgba(0,0,0,0.2);
$black-30: rgba(0,0,0,0.3);
$black-60: rgba(0,0,0,0.6);
$black-80: rgba(0,0,0,0.8);

$base-link-color: $black-80;
$base-link-hover-color: $black-60;