<h3>Setup</h3>
{{! template-lint-disable block-indentation}}
<HighlightJs @land="js">
// app/adapters/application.js
export { default } from 'ember-local-storage/adapters/adapter';

// app/serializers/application.js
export { default } from 'ember-local-storage/serializers/serializer';
</HighlightJs>

<h3>Example</h3>

<LinkTo @route="projects">See the demo</LinkTo>