<h2 id="title">Ember localStorage</h2>

<nav class="nav">
  <div class="nav__item">
    {{#link-to "index"}}Home{{/link-to}}
  </div>

  <div class="nav__item">
    {{#link-to "storage-for"}}storageFor{{/link-to}}
  </div>

  <div class="nav__item">
    {{#link-to "adapter"}}Adapter{{/link-to}}
  </div>
</nav>

<br><br>

{{outlet}}