<h2 id="title">Ember localStorage</h2>

<nav class="nav">
  <div class="nav__item">
    <LinkTo @route="index">Home</LinkTo>
  </div>

  <div class="nav__item">
    <LinkTo @route="storage-for">storageFor</LinkTo>
  </div>

  <div class="nav__item">
    <LinkTo @route="adapter">Adapter</LinkTo>
  </div>
</nav>

<br><br>

{{outlet}}
