The addon provides a <code>storageFor</code> computed property that returns a proxy and persists the changes to localStorage or sessionStorage. It works with objects and arrays and has a generator to create the proxy objects or arrays.<br><br>

It ships with an ember-data adapter that works almost the same as the JSONAPIAdapter with some relationship sugar added.<br><br>

Your Page Visits: {{this.stats.counter}}
<button type="button" {{on "click" this.countUp}}>Count up</button>
<button type="button" {{on "click" this.resetCounter}}>X</button>